h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Estilos para los campos de etiquetas y entrada */
  label {
    font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
    font-weight: bold;
   
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el botón de envío */
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }